* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #efefef;
}

body {
    font: 14px/1.5 Arial, Helvetica, sans-serif;
    margin: 0;
}

header {
    text-align: center;
    width: 100%;
    padding: 25px 40px;
    background-color: #3484B3;
    overflow: hidden;
}

header h1 {
    color: #fff;
}

header a {
    float: right;
    color: #fff;
    text-decoration: none;
    padding: 13px 50px;
    border-radius: 3px;
    font: bold 14px/1 'Open Sans', sans-serif;
    text-transform: uppercase;
    background-color: #F05283;
}

ul {
    list-style: none;
    border-bottom: 1px solid #EAEAEA;
    background-color: #FFF;
    padding: 20px;
    margin: 0 0 30px;
    text-align: center;
}

ul li {
    display: inline-block;
}

ul a {
    text-decoration: none;
    color: #FFF;
    background-color: #6B6967;
    padding: 10px 16px;
    border-radius: 2px;
    font-size: 16px;
    margin: 4px;
    display: inline-block;
    line-height: 1;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

ul a.active {
    background-color: #1888c8;
    pointer-events: none;
}

ul a:hover {
    opacity: 1;
}

a {
  text-decoration: none;
}

.spyro{
    text-align: center;
    display: block;
    box-sizing: border-box;
    background-color: #0aa808;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font: bold 20px sans-serif;
    color: #ffffff;
    width: 330px;
    padding: 18px 0;
    margin: 20px auto;
    z-index: 1;
    border-radius: 3px;
}

.spyro:hover{
    opacity: 0.7;
}

.giants{
    text-align: center;
    display: block;
    box-sizing: border-box;
	background-color: #fd7e11;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font: bold 20px sans-serif;
    color: #ffffff;
    width: 330px;
    padding: 18px 0;
    margin: 20px auto;
    z-index: 1;
    border-radius: 3px;
}

.giants:hover{
    opacity: 0.7;
}

.trapteam{
    text-align: center;
    display: block;
    box-sizing: border-box;
	background-color: #fb1111;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font: bold 20px sans-serif;
    color: #ffffff;
    width: 330px;
    padding: 18px 0;
    margin: 20px auto;
    z-index: 1;
    border-radius: 3px;
}

.trapteam:hover{
    opacity: 0.7;
}